{% extends "myschedule/calendar_sidemenu.html" %}

{% block title %}dodaj usluge{% endblock %}

{% block calendar %}
{% load static %}


<head>
    <title>Dodaj usluge</title>
</head>
<body>
    <section class="schedule_service">
    <h1>Dodaj wydarzenie</h1>
    <form method="post" class="add_serv_form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn--primary" type="submit" value="Dodaj">
            Dodaj
        </button>
    </form>
    </section>
</body>
{% endblock %}