{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
</head>

<section id="sidebar" class="section">
  <div class="sidebar_container">
    <aside class="sidebar">
      <h3>Menu</h3>
      <ul>
        <li><a href="{% url 'my_calendar' %}">Widok miesieczny</a></li>
        <li><a href="{% url 'my_calendar_week' %}">Widok tygodniowy</a></li>
        <li><a href="{% url 'add_availability' %}">Dodaj dostępność</a></li>
        <li><a href="{% url 'add_service' %}">Dodaj usługe</a></li>
        <li><a href="{% url 'create_payment' %}">Opłać subskrypcję</a></li>
        
      </ul>
    </aside>

    <section class="calendar-week-section">
      {% block calendar %}{% endblock %}
    </section>
  </div>
</section>


{% endblock %}
