{% extends 'base.html' %}

<title>umow-zdalnie-blog</title>

{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
</head>

<div class="blog-container">
    <article class="blog-post-detail">
        <h1>{{ post.title }}</h1>
        <div class="blog-meta">{{ post.created_at|date:"d M Y" }} | {{ post.author.get_full_name|default:post.author.username }}</div>
        {% if post.featured_image %}
        <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
        {% endif %}
        <div>
            {{ post.content|linebreaks }}
        </div>
        <a href="{% url 'blog:post_list' %}" class="blog-btn">← Wszystkie artykuły</a>
    </article>
</div>
{% endblock %}


