{% extends 'base.html' %}
{% block title %}Polityka Prywatności - umowzdalnie.pl{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1>POLITYKA PRYWATNOŚCI</h1>
            
            <p>Na podstawie art. 13 rozporządzenia Parlamentu Europejskiego i Rady (UE 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych), dalej: „RODO", poniżej przekazujemy informację dotyczącą przetwarzania Państwa danych osobowych.</p>

            <h2>Kto jest Administratorem Państwa danych?</h2>
            
            <p>Administratorem Państwa danych jest: osoba fizyczna <strong>Marcin Zadrzyński</strong> (80-809) Gdańsk, ul. Szpora 3/22, nr tel.: +48 696 211 154, mail: <a href="mailto:kontakt@umowzdalnie.pl">kontakt@umowzdalnie.pl</a>, dalej: <strong>„Administrator"</strong>.</p>

            <h2>W jakim celu będziemy przetwarzać Państwa dane? Jakie dane przetwarzamy?</h2>
            
            <h3>Jak długo będziemy przechowywać Państwa dane? Jakie są podstawy prawne przetwarzania Państwa danych?</h3>

            <p>Administrator przetwarza Państwa dane osobowe, tj. Użytkownika będącego Klientem lub Usługodawcą w następujących celach:</p>

            <h3>1. Rejestracja i prowadzenie konta Użytkownika</h3>
            
            <p>Administrator w ramach oferowanej usługi umożliwia utworzenie konta zarówno dla Klienta, jak i Usługodawcy. Dane osobowe w postaci adresu poczty elektronicznej oraz numeru telefonu, a w przypadku Usługodawców także danych umożliwiających wystawienie faktury VAT, tj. nazwa, adres, NIP, gromadzone są z chwilą założenie konta przez Użytkownika w celu umożliwienia korzystania z funkcjonalności strony umowzdalnie.pl, w tym rezerwacji wizyt oraz obsługi konta. Podając dobrowolnie dane osobowe, wyrażają Państwo zgodę na ich przetwarzanie zgodnie z art. art. 6 ust. 1 lit. b RODO.</p>

            <div class="alert alert-info">
                <p><strong>W celu rejestracji Użytkownika przetwarzamy Państwa dane osobowe w postaci adresu e-mail, numeru telefonu oraz opcjonalnie w przypadku wystawienia faktury VAT nazwy/imienia i nazwiska podmiotu prowadzącego działalność gospodarczą, adresu oraz NIP tego przedsiębiorcy.</strong></p>
            </div>

            <p>Państwa dane będą przechowywane przez okres istnienia konta, a następnie do czasu przedawnienia roszczeń mogących wynikać z nawiązanego stosunku prawnego lub zawartej umowy, co stanowi prawnie uzasadniony interes, o którym mowa w art. 6 ust. 1 lit. f RODO.</p>

            <h3>2. Realizacja rezerwacji wizyt</h3>
            
            <p>Administrator w ramach oferowanej usługi umożliwia Użytkownikom umawianie wizyt, ich potwierdzanie, odwoływanie oraz wysyłkę powiadomień o tych zdarzeniach. Dane osobowe w postaci imienia i nazwiska Użytkownika, adresu poczty elektronicznej oraz numeru telefonu, przetwarzane są w celu umożliwienia zarządzania umówioną wizytą przez Użytkownika. Podając dobrowolnie dane osobowe, wyrażają Państwo zgodę na ich przetwarzanie zgodnie z art. art. 6 ust. 1 lit. b RODO.</p>

            <p>Państwa dane będą przechowywane do czasu realizacji wizyty, a następnie do czasu przedawnienia roszczeń mogących wynikać z nawiązanego stosunku prawnego lub zawartej umowy, co stanowi prawnie uzasadniony interes, o którym mowa w art. 6 ust. 1 lit. f RODO.</p>

            <h3>3. Wysyłka powiadomień i przypomnień o umówionej wizycie</h3>
            
            <p>Administrator w ramach oferowanej usługi przesyła powiadomienia oraz przypomnienia Użytkownikom o zbliżającej się wizycie. Dane osobowe w postaci adresu poczty elektronicznej oraz numeru telefonu przetwarzane są w celu umożliwienia wysłania potwierdzenia oraz przypomnienia o wizycie. Podając dobrowolnie dane osobowe, wyrażają Państwo zgodę na ich przetwarzanie zgodnie z art. art. 6 ust. 1 lit. b RODO.</p>

            <p>Państwa dane będą przechowywane do czasu realizacji wizyty, a następnie do czasu przedawnienia roszczeń mogących wynikać z nawiązanego stosunku prawnego lub zawartej umowy, co stanowi prawnie uzasadniony interes, o którym mowa w art. 6 ust. 1 lit. f RODO.</p>

            <h3>4. Odpowiedzi na zgłoszenie dotyczące kontaktu lub pomocy w zakresie realizacji usługi</h3>
            
            <p>Administrator oferuje możliwość dokonania zgłoszenia potrzeby kontaktu za pośrednictwem strony internetowej - zakładki ,,Pomoc" oraz ,,Kontakt", a także poczty elektronicznej lub poczty tradycyjnej. Państwa dane osobowe w zakresie danych do kontaktu będą przetwarzane w celu odpowiedzi na zgłoszenia oraz udzielenia informacji wskazanych w zgłoszeniu oraz innych informacji dotyczących usługi i zgłoszonych zagadnień. Podając dobrowolnie dane osobowe, wyrażają Państwo zgodę na ich przetwarzanie zgodnie z art. art. 6 ust. 1 lit. a RODO. W przypadku dalszego zainteresowania ofertą, dane osobowe są wykorzystywane w celu kontaktu związanego z zawarciem umowy i realizacją tej umowy. Cele te stanowią prawnie uzasadniony interes, o którym mowa w art. 6 ust. 1 lit. f RODO.</p>

            <div class="alert alert-info">
                <p><strong>W celu odpowiedzi na Państwa zgłoszenie przetwarzamy Państwa dane osobowe w postaci adresu e-mail lub numeru telefonu oraz innych opcjonalnych danych dobrowolnie podanych w formularzu zgłoszeniowym.</strong></p>
            </div>

            <p>Państwa dane będziemy przechowywać do chwili zakończenia realizacji zgłoszenia, a następnie do czasu przedawnienia roszczeń mogących wynikać z nawiązanego stosunku prawnego lub zawartej w następstwie zgłoszenia umowy, co stanowi prawnie uzasadniony interes, o którym mowa w art. 6 ust. 1 lit. f RODO.</p>

            <div class="alert alert-warning">
                <p><strong>Podanie przez Państwa danych osobowych nie jest wymogiem prawnym i nie są Państwo zobowiązani prawnie do ich podania. Podanie danych osobowych jest jednak warunkiem odpowiedzi na przesłane zgłoszenia oraz ewentualne zawarcie i realizację danej umowy w późniejszym etapie.</strong></p>
            </div>

            <h3>5. Marketing własny</h3>

            <div class="alert alert-info">
                <p><strong>Administrator może wysyłać własne informacje marketingowe dotyczące świadczonych usług. Państwa dane w postaci adresu poczty elektronicznej będą przetwarzane w celach otrzymywania treści marketingowych oraz informacji handlowych dotyczących usług świadczonych przez Administratora. Podstawą przetwarzania danych w tym zakresie jest art. 6 ust. 1 pkt f RODO, czyli uzasadniony interes Administratora w promowaniu prowadzonej działalności.</strong></p>
                
                <p><strong>W celu realizacji przesłania informacji marketingowych przetwarzamy Państwa dane osobowe w postaci adresu e-mail.</strong></p>
                
                <p><strong>Państwa dane będziemy przechowywać do chwili cofnięcia przez Państwa zgody na przetwarzanie danych osobowych w celach marketingowych oraz handlowych.</strong></p>
                
                <p><strong>Podanie przez Państwa danych osobowych nie jest wymogiem prawnym i nie są Państwo zobowiązani prawnie do ich podania. Podanie danych osobowych jest jednak warunkiem wykonywania wysyłki informacji marketingowych.</strong></p>
            </div>

            <h3>6. Obsługa płatności</h3>

            <div class="alert alert-info">
                <p><strong>Administrator udostępnia możliwość płatności on-line za pośrednictwem zewnętrznych operatów w celu ewentualnych płatności między Klientem a Usługodawcą. Zasady przetwarzania danych osobowych przez tych operatorów regulują regulaminy operatorów płatności.</strong></p>
                
                <p><strong>Dodatkowo Administrator umożliwia płatność Usługodawcom za usługi oferowane przez Administratora zgodnie z Regulaminem. Oprócz zasad przetwarzania danych osobowych wynikających z regulaminów operatorów płatności, Administrator w celu rozliczenia płatności za usługę zbiera dane w postaci imienia, nazwiska, adresu poczty elektronicznej oraz numeru transakcji, co umożliwia przetwarzanie tych danych zgodnie z art. 6 ust. 1 lit. f RODO.</strong></p>
            </div>

            <p>Państwa dane będą przechowywane do czasu rozliczenia płatności, a następnie do czasu przedawnienia roszczeń mogących wynikać z nawiązanego stosunku prawnego lub przepisów podatkowych, co stanowi prawnie uzasadniony interes, o którym mowa w art. 6 ust. 1 lit. f RODO.</p>

            <p><u>We wszystkich powyższych przypadkach Spółka może przetwarzać Państwa dane osobowe w okresie dłuższym niż to wynika z celu przetwarzania jedynie, gdy będzie to wymagane lub dozwolone obowiązującymi przepisami prawa.</u></p>

            <h2>Komu możemy przekazać Państwa dane?</h2>
            
            <p>Zgodnie z obowiązującym prawem, Państwa dane możemy przekazywać podmiotom przetwarzającym je na nasze zlecenie lub innym odbiorcom danych, w szczególności współpracującym z Administratorem biurom rachunkowym, podmiotom świadczącym usługi pocztowe lub kurierskie. Ponadto dane przekazywane są Usługodawcom, u których dokonują Państwo rezerwacji oraz analogicznie Klientom w celu dokonania rezerwacji.</p>

            <p>Państwa dane osobowe nie są udostępniane żadnym podmiotom trzecim w żadnym innym celu niż wskazany w niniejszej Polityce Prywatności. W zakresie informacji marketingowych nie przedstawiamy treści marketingowych lub handlowych innych niż dotyczące Administratora.</p>

            <h2>Polityka cookies</h2>
            
            <p>Strona wykorzystuje <strong>pliki cookies zewnętrzne</strong>, jak Google Analytics, któremu przekazujemy informacje zbierane za pomocą plików cookies (informacje statystyczne). Te informacje są anonimowe i nie stanowią danych osobowych.</p>

            <p>Niektóre używane przez nas cookies są usuwane po zakończeniu sesji przeglądarki internetowej, tzn. po jej zamknięciu (<strong>tzw. cookies sesyjne</strong>). Inne cookies są zachowywane na urządzeniu końcowym i umożliwiają nam rozpoznanie Państwa przeglądarki przy kolejnym wejściu na stronę (<strong>tzw. trwałe cookies</strong>). Więcej na temat przetwarzania takich informacji można przeczytać tutaj: <a href="https://policies.google.com/privacy" target="_blank">https://policies.google.com/privacy</a></p>

            <p>Mogą Państwo zmienić ustawienia plików cookies w ustawieniach swojej przeglądarki.</p>

            <h2>Przekazywanie danych poza EOG</h2>
            
            <p>Administrator co do zasady nie przekazuje Państwa danych osobowych poza EOG (Europejski Obszar Gospodarczy). Może mieć to miejsce w związku z korzystaniem z narzędzi udostępnionych przez podmioty mające swoje siedziby poza EOG (np. Google) i tylko wtedy, gdy jest to konieczne.</p>

            <p>W każdym przypadku zapewniamy bezpieczne przetwarzanie Państwa danych osobowych stosując skuteczne i odpowiednio dopasowane środki techniczno-organizacyjne.</p>

            <h2>Zautomatyzowane podejmowanie decyzji</h2>
            
            <p>Nie podejmujemy decyzji w oparciu o zautomatyzowane przetwarzanie danych osobowych, w tym profilowanie.</p>

            <h2>Jakie mają Państwo prawa w stosunku do Państwa danych osobowych?</h2>
            
            <p>Mają Państwo prawo do:</p>

            <ol>
                <li>żądania dostępu do przekazanych danych, w tym otrzymania ich kopii;</li>
                <li>sprostowania lub uzupełnienia danych niekompletnych;</li>
                <li>usunięcia lub ograniczenia przetwarzania danych w przypadkach przewidzianych prawem;</li>
                <li>otrzymania swoich danych w ustrukturyzowanym powszechnie używanym formacie oraz ich przenoszenia, gdy przetwarzanie odbywa się na podstawie Państwa zgody, a także gdy przetwarzanie jest wykonywane w sposób zautomatyzowany;</li>
                <li>wniesienia sprzeciwu wobec przetwarzania danych osobowych w przypadku przetwarzania ich w celu realizacji uzasadnionego interesu Administratora, z przyczyn związanych z Państwa szczególną sytuacją;</li>
                <li>cofnięcia udzielonych zgód w każdym momencie, lecz bez wpływu na zgodność z prawem przetwarzania przed ich cofnięciem, w przypadku, w którym przetwarzanie danych odbywa się na podstawie udzielonej zgody;</li>
                <li>wniesienia skargi do organu nadzorczego - <u>Prezesa Urzędu Ochrony Danych Osobowych (ul. Stawki 2, 00-193 Warszawa)</u>.</li>
            </ol>

            <h2>Kontakt</h2>
            
            <p>Jeśli chcą Państwo skorzystać z ww. praw lub mają Państwo do nas jakiekolwiek pytania związane z Państwa danymi osobowymi przetwarzanymi w związku z realizacją któregokolwiek przedstawionego w Informacji celu, prosimy o kontakt bezpośrednio z Administratorem:</p>

            <ol>
                <li>korespondencyjny (ul. Szpora 3/22. 80-809 Gdańsk)</li>
                <li>drogą mailową na adres: <a href="mailto:kontakt@umowzdalnie.pl">kontakt@umowzdalnie.pl</a>.</li>
            </ol>

            <p>Administrator nie ma wyznaczonego inspektora danych osobowych.</p>

        </div>
    </div>
</div>
{% endblock %}