<!DOCTYPE html>
<html lang="pl">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}umow zdalnie{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">


    <link rel="icon" href="{% static 'favicon.ico' %}" sizes="any" type="image/x-icon">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PELHMYL08H"></script>
    <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-PELHMYL08H');
    </script>
</head>
<body class = "body">
    <header class="header-container">
    <!-- Header -->
    <nav class="header d-flex justify-content-between align-items-center">
        <div class="hamburger" onclick="toggleMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
        <div class="me-3">
        <h2 class="umow-zdalnie" onclick="window.location.href='/'">
                <i class="bi bi-laptop"></i> umów zdalnie
        </h2>
        </div>
                
                <ul class="menu">

                {% if request.user.is_authenticated %}
                    Witaj {{ request.user.first_name|default:request.user.username }}
                    <li>
                        <a href="/dashboad/"></a>
                    </li>
                {% endif %}
                    <li><a href="/">Strona główna</a></li>
                    <li><a href="/dashboard/offert/">Oferta</a></li>
                    <li><a href="{% url 'my_calendar_week' %}">Mój kalendarz</a></li>
                    <li><a href="{% url 'my_bookings' %}">Moje rezerwacje</a></li>
                    <li><a href="{% url 'favorite_calendars' %}">Ulubione</a></li>
                    <li><a href="/dashboard/instructions/">Pomoc</a></li>
                    <!--<li><a href="/contact/">Blog</a></li>
                    <li><a href="{% url 'terms_of_service' %}">Regulamin</a></li>-->
                    <li><a href="/account/settings/">Ustawienia</a></li>
                    <li><a href="/dashboard/contact/">Kontakt</a></li>

                    <li>
                    <span class="user">
                        {% if request.user.is_authenticated %}
                                <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                                    {% csrf_token %}
                                </form>

                                <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">
                                    Wyloguj
                                </a>
                        {% else %}
                        <a href="{% url "login" %}">Zaloguj</a>
                    </span>
                    {% endif %}
                    </li>
                </ul>
            </span>
    </nav>
    </header>
    
        <div>
		 {% block content %}{% endblock %}
        </div>

           <!-- Footer -->
<footer class="site-footer text-center text-white py-3">
    <a href="/" class="footer-link">Strona główna</a> |
    <a href="/dashboard/offert/" class="footer-link">Oferta</a> |
    <a href="{% url 'my_calendar_week' %}"class="footer-link">Mój kalendarz</a> |
    <a href="{% url 'my_bookings' %}" class="footer-link">Moje rezerwacje</a> |
    <a href="{% url 'favorite_calendars' %}" class="footer-link">Ulubione</a> |
    <a href="/dashboard/contact/" class="footer-link">Pomoc</a> |
    <!--<a href="/contact/">Blog</a>-->
    <a href="{% url 'terms_of_service' %}" class="footer-link">Regulamin serwisu</a> |
    <a href="{% url 'privacy_policy' %}" class="footer-link">Polityka prywatności</a> |
    <a href="/account/settings/" class="footer-link">Ustawienia</a> |
    <a href="/dashboard/contact/" class="footer-link">Kontakt</a>
    <br><br> &copy; 2025 umowonline.pl wszelkie prawa zastrzeżone
</footer>
    </div>
<script>
    function toggleMenu() {
      document.querySelector(".menu").classList.toggle("active");
    }
</script>
</body>
</html>